.contact{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    background: linear-gradient(0deg, #1a1826,#2f4f4f);
    align-items: center;
}
.contact h2{
    color: aliceblue;
    font-weight: 400%;
    font-size: 2.5em;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
}

.input{
    border: 1px solid #413b5e;
    color: aliceblue;
    width: 90%;
    height: 25px;
    background: none;
    margin-top: 15px;
}
.form textarea{
    border: 1px solid #413b5e;
    color: aliceblue;
    resize: none;
    width: 90%;
    margin-top: 15px;
    background: none;
}
.form button{
    width: 90px;
    height: 40px;
    border-radius: 4px;
    background: none;
    border: 1px solid #6b6299;
    margin-top: 10px;
    color: aliceblue;
    
}
.form label{
    color: aliceblue;
    margin-top: 5px;
    font-size: 1em;
}